apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: sopssecrets.craftypath.github.io
spec:
  group: craftypath.github.io
  names:
    kind: SopsSecret
    listKind: SopsSecretList
    plural: sopssecrets
    singular: sopssecret
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: SopsSecret is the Schema for the sopssecrets API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: SopsSecretSpec defines the desired state of SopsSecret
          properties:
            stringData:
              additionalProperties:
                type: string
              description: StringData allows specifying Sops-encrypted secret data
                in string form.
              type: object
            type:
              description: Type specifies the type of the secret.
              type: string
          type: object
        status:
          description: SopsSecretStatus defines the observed state of SopsSecret
          properties:
            lastUpdate:
              format: date-time
              type: string
            reason:
              type: string
            status:
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
